h1{
    font-size: 50px;
}

table{
    border: 1px solid black;
    font-size: 20px;
    border-collapse: collapse;
    width: 80%; margin: 20px auto; border-collapse: collapse; 
}

.titulotabela{
    background-color: black;
    color: rgb(255, 255, 255);
}
body{
    font-family: Arial, sans-serif; text-align: center;
}

header{ 
    display: flex; justify-content: space-between; align-items: center; padding: 20px; 
}

.tabela2{
    background-color: gray
}

.tabela3{
    background-color: black;
    color: rgb(255, 255, 255);
}

.tabela4{
    background-color: gray
}

.tabela5{
    background-color: black;
    color: rgb(255, 255, 255);
}

.tabela6{
    background-color: gray
}

.tabela7{
    background-color: black;
    color: rgb(255, 255, 255);
}

.tabela8{
    background-color: gray
}

.tabela9{
    background-color: black;
    color: rgb(255, 255, 255);
}
.tabela10{
    background-color: gray
}

.tabela11{
    background-color: black;
    color: rgb(255, 255, 255);
}

.tabela12{
    background-color: gray
}

.tabela13{
    background-color: black;
    color: rgb(255, 255, 255);
}

.tabela14{
    background-color: gray
}

.tabela15{
    background-color: black;
    color: rgb(255, 255, 255);
}
.tabela16{
    background-color: gray
}
.tabela17{
    background-color: black;
    color: rgb(255, 255, 255);
}
.tabela18{
    background-color: gray
}
.tabela19{
    background-color: black;
    color: rgb(255, 255, 255);
}
.tabela20{
    background-color: gray
}