h1{
    font-size: 50px;
}

table{
    border: 1px solid black;
    font-size: 20px;
    border-collapse: collapse;
    width: 80%; margin: 20px auto; border-collapse: collapse; 
}

.titulotabela{
    background-color: black;
    color: rgb(255, 255, 255);
}
body{
    font-family: Arial, sans-serif; text-align: center;
}

header{ 
    display: flex; justify-content: space-between; align-items: center; padding: 20px; 
}